
.navbar{
    background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%) !important; 
}

.background_service{
     background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background_service >div {
    color: aliceblue;
    font-size:3rem;
    font-family: 'Itim', cursive;
   
}